.background {
  background: url(https://www.googledrive.com/host/0B_4vRxQoiAUnVWtkUTVqZDJtVnM);
}

.logo {
  background-image : url(https://www.googledrive.com/host/0B_4vRxQoiAUnU1V0VkxkdkxSQnM);
  background-size: cover;
}

.progressBar {
  background-color: rgb(214, 73, 55);
}
